* {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.block {
  display: flex;
  justify-content: space-between;
  background-color: rgb(229, 229, 229);
  padding: 10px;
}

.text-block,
.image-block {
  flex: 0 0 calc((100% - 10px) / 2);
  background-color: rgb(215, 215, 215);
  padding: 15px;
}

.image-block {
  background-color: #f5f7e3;
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 100%;
  object-fit: cover;
  flex-grow: 1;
  display: block;
  margin-bottom: 10px;
  border: 2px solid black;
}
