<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bicicletta 22</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://res.cloudinary.com/dr6lvwubh/raw/upload/v1581441981/Anicons/anicons-regular.css" rel="stylesheet">
</head>

<body class="body">
  <!-- Keep this div with the class card! -->
  <div class="card">
    <!-- Write your markup in here! Feel free to delete the title and the text! -->
    <div class="card-image">
      <img class="image-item-background" src="./img/Lucomagno_blue.jpg" alt="Passo del Lucomagno" >
      <img class="image-item" src="./img/Vektor_velo_white.svg" alt="Velo icon" >
    </div>
  
    <h1 class="title-text">Lucomagno</h1>


    <div class="card-text">
      <p class="line">Disentis (GR) <br>
       19.8 km <br> 
       907 m <br> 
       Ø 4.6 % <br>
     </p>
     <p>Biasca (TI) <br>
      13.4 km <br> 
      1030 m <br> 
      Ø 9.6 % <br>
    </p>
    </div>

    <div class="button1">
    <p class="icon">a</p>
    </div>


  </div>

</body>

</html>