/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: black;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background-color: rgb(107, 81, 81);
  border-radius: 5px;
  padding: 15px;
  font-family:'favorit';
}

.main-title {
  font-weight: normal;
  color: blueviolet;
}

.image-item-background {
  position: relative;
  object-fit: cover; 
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  width: 100%;
}

.image-item {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 100px;
  width: 200px;
}