/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: black;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

.card-image {
  width: auto;
  height: 220px;
/*  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;*/
  padding-bottom: 20px;
}

.image-item-background {
  object-fit: cover; 
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.image-item {
  position: absolute; 
  left: 0; 
  right: 0;
  top: 60px; 
  margin-left: auto; 
  margin-right: auto; 
  width: 200px;
}

.main-title {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

  .icon>div {
    font-family: "Anicons Regular";
    font-variation-settings: "TIME" 1;
    transition: font-variation-settings 0.4s ease;
 }
 .icon:hover {
    font-variation-settings: "TIME" 100;
 }