<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bicicletta Journey</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://res.cloudinary.com/dr6lvwubh/raw/upload/v1581441981/Anicons/anicons-regular.css" rel="stylesheet">
  <script src="script.js" defer></script>
</head>

<body class="body">  

  <div class="card">
  
    <h3 class="title-text">Passo del Lucomagno</h3>
    <div class="dragdropjourney">
      <img class="line" src="img/line.svg"></img>
    
     <div draggable="true" class="circle position1" data-position="1">+</div>
     <div draggable="true" class="circle position2" data-position="2"></div>
     <div draggable="true" class="circle position3" data-position="3"></div>
     <div draggable="true" class="circle position4" data-position="4"></div>
     <div draggable="true" class="circle position5" data-position="5"></div>
    
    </div>
    <div class="journeyimage1"></div>

  </div>

</body>

</html>