/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: black;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

 @font-face {
  font-family: "Favorit";
  src: url("font/Favorit/favorit-regular.otf");
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: "Favorit";
  background: url(img/Lucomagno_blue_blur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text {
  padding-top: 32px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0.04em;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  top: 130px;
  margin: auto;
}

.circle {
  padding-top: 2px;
  text-align: center;
  position: absolute;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: grab;
  margin: auto;
}

.circle.over {
  background-color: rgb(255, 225, 0);
}


.circle.position1 {
  left: 7px; 
  right: 0;
  top: 120px; 
  width: 40px;
  height: 40px;
}

.circle.position2 {
  left: 0; 
  right: 158px;
  top: 190px; 
}

.circle.position3 {
  left: 158px; 
  right: 0;
  top: 200px; 
}

.circle.position4 {
  left: 0; 
  right: 158px;
  top: 275px; 
}

.circle.position5 {
  left: 158px; 
  right: 0;
  top: 345px; 
}

 .journeyimage {
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
  left: 0; 
  right: 0;
  top: 400px; 
  margin: auto;
  width: 230px;
  height: 150px;
  cursor: pointer; 

  background: url(img/Journey_1.JPG); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
